{{> header }}
<!--<div class="container-fluid">
            <h1 class="display-4">{{title}}</h1>
            <h2 class="display-5">Here is your information</h2>
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4"></div>
                <p>Your user name is: <b>{{username}}</b></p>
                <p>Your email is: <b>{{email}}</b></p>
                 {{#each arr}}
                <div class="alert alert-primary" role="alert">
                
                 <h3 class="alert-heading">Opportunity # {{this.count}}</h3>
                <p>{{orgname}}</p>
                <p>{{date}}</p>
                <p>{{numvol}}</p>
                <p>{{address}}</p>
                <p>{{city}}</p>
                <p>{{state}}</p>
                <p>{{zipcode}}</p>
                <p>{{description}}</p>
                </div>
                {{/each}}
                </div>
                </div>-->
<div class="container-fluid">
    <div class="userWelcome">
        <div class="row">
            <div class="back">
                <div class="col-sm-12">
                    <h2>Hello,
                        <span style="color: #ffbd4a">{{username}}</span>
                    </h2>
                    <div class="row">
                        <div class="col-6 col-sm-4">
                            <p>{{email}}</p>
                            <!--<a href="./view_all_opportunity.handlebars" class="btn btn-lg volunteerButton">Go Volunteer!</button></a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{#each arr}}
    <div class="userEvent">
        <div class="row">
            <div class="col-sm">
                <h4>{{orgname}}</h4>
            </div>
            <div class="col-sm">
                <p>{{date}}</p>
            </div>
            <div class="col-sm">
                <p>{{city}}</p><p>{{address}}, {{state}}</p>
            </div>
            <div class="col-sm-4" id="mapWrapper">
                <button class="btn btn-lg signUp greenButton map" onclick="toggleMap()">Map</button>
                <div id="mapBox">
                    <div id="mapContent">Map Content</div>
                </div>
            </div>
        </div>

    </div>
    {{/each}}
</div>
</div>