{{> header }}


<div class="container-fluid">

  <div class="search1">
    <div class="row">
      <div class="back">
        <div class="col-sm-12">
          <h3>Where do you want to volunteer?</h3>
          <h5>See all posted opportunities below</h5>
        </div>
      </div>
    </div>
  </div>

  {{#each arr}}
  <div class="container">
  <div class="event">
    <div class="row">
      <div class="col-sm">
        <h4>{{this.orgname}}</h4>
      </div>
      <div class="col-sm">
        <p>{{this.date}}</p>
      </div>
      <div class="col-sm">
        <p>{{this.address}} , {{this.city}} , {{this.state}}</p>
      </div>
      <div class="col-sm">
        <p>{{this.description}}</p>
      </div>
      <div class="col-sm">
        <button type="submit" class="btn btn-lg signUp greenButton signupOpportunity" datat-OpportunityNumber="{{count}}" data-userID="{{user_id}}"
          data-idOpportunity="{{id}}">Sign Up!</button>
      </div>
      <div class ="col-sm" id="mapWrapper">
        <button class="btn btn-lg signUp greenButton vol view mapSignUp" data-id="{{id}}" data-address="{{this.address}} {{this.city}} {{this.state}}" type="button" value="Geocode" onclick="toggleMap()">Map</button>
        {{!-- <div data-address="{{this.address}} class="map dispaynone""> --}}
        </div>
      </div>

    </div>
  </div>
  </div>
  {{/each}}
</div>

<script>
  $(".signupOpportunity").on("click", function () {
    var idOpportunity = $(this).attr("data-idOpportunity");
    var userID = $(this).attr("data-userID");
    var OpportunityNumber = $(this).attr("datat-OpportunityNumber");
    var userSignUp = {
      idOpportunity: idOpportunity,
      userID: userID
    }
    console.log(userSignUp)
    $.ajax("/signupOpportunity", {
      type: "POST",
      data: userSignUp
    }).then(function () {
      alert("Congrats! You signed up for Opportunity #" + OpportunityNumber)
      location.replace("/profile")
    })


  })

    
    function initMap() {
    var count = 0;
    $(".view").on ("click", function(){
      
      if(count == 0){
      var geocoder = new google.maps.Geocoder();
      var divName = '<div id="mapBox">'
      var name='mapBox';
      $(this).closest("div").append($(divName));
      $("#mapBox").css(
        "opacity", "1", 
      )
      $("#mapBox").css(
        "right", "0px"
      )
      var map = new google.maps.Map(document.getElementById(name), {
      zoom: 11,
      center: {lat: 35.2271, lng: -80.8431}
      //centered on Charlotte NC
      //});
      })
      var address=$(this).data("address");
      geocodeAddress(geocoder, map, address)
      count = 1
      }
    else
      {
        $("#mapBox").remove();
        count = 0;
      }
    })
   }

  function geocodeAddress(geocoder, resultsMap, address) {
    //var address = document.getElementById('address').value;
    geocoder.geocode({'address': address}, function(results, status) {
      if (status === 'OK') {
        resultsMap.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
          map: resultsMap,
          position: results[0].geometry.location
        });
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });
  }
$(".hide").on("click", function(){
  $( "#map2" ).remove();
  $(".map").addClass("dispaynone")
})


  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWPe4weCAWZO2rLMMGIR_Bm-o7y4WmZrs&callback=initMap"></script>
