{{> header }}
<!--<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{title}}</h1>
    <div class="row">
      
               <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                {{#each arr}}
                
                 <div class="alert alert-primary" role="alert">
                <h3 class="alert-heading">opportunity # {{this.count}}</h3>
                <p>{{this.orgname}}</p>
                <p>{{this.date}}</p>
                <p>{{this.numvol}}</p>
                <p>{{this.address}}</p>
                <p>{{this.city}}</p>
                <p>{{this.state}}</p>
                <p>{{this.zipcode}}</p>
                <p>{{this.description}}</p>
                <p >ID: <span>{{id}}</span></p>
                <button type="submit" class="btn btn-primary signupOpportunity" datat-OpportunityNumber="{{count}}" data-userID="{{user_id}}" data-idOpportunity="{{id}}">sign up for this opportunity</button>
                </div>
                {{/each}}
              </div>
  </div>
</div>
</div>
</div>-->

<div class="container-fluid">

  <div class="search1">
    <div class="row">
      <div class="back">
        <div class="col-sm-12">
          <h3>Where do you want to volunteer?</h3>
          <h5>See all posted opportunities below</h5>
        </div>
      </div>
    </div>
  </div>

  {{#each arr}}
  <div class="event">
    <div class="row">
      <div class="col-sm-2">
        <h4>{{this.orgname}}</h4>
      </div>
      <div class="col-sm-2">
        <p>{{this.date}}</p>
      </div>
      <div class="col-sm-2">
        <p>{{this.address}} , {{this.city}} , {{this.state}}</p>
      </div>
      <div class="col-sm-2">
        <p>{{this.description}}</p>
      </div>
      <div class="col-sm-2">
        <button type="submit" class="btn btn-lg signUp greenButton signupOpportunity" datat-OpportunityNumber="{{count}}" data-userID="{{user_id}}"
          data-idOpportunity="{{id}}">Sign Up!</button>
      </div>
      <div class ="col-sm-2" id="mapWrapper">
        <button class="btn btn-lg signUp greenButton map" onclick="toggleMap()">Map</button>
        <div id="mapBox">
          <div id="mapContent">Map Content</div>
        </div>
      </div>

    </div>
  </div>
  {{/each}}
</div>

<script>
  $(".signupOpportunity").on("click", function () {
    var idOpportunity = $(this).attr("data-idOpportunity");
    var userID = $(this).attr("data-userID");
    var OpportunityNumber = $(this).attr("datat-OpportunityNumber");
    var userSignUp = {
      idOpportunity: idOpportunity,
      userID: userID
    }
    console.log(userSignUp)
    $.ajax("/signupOpportunity", {
      type: "POST",
      data: userSignUp
    }).then(function () {
      alert("Congrats! You signed up for Opportunity #" + OpportunityNumber)
      location.replace("/profile")
    })


  })
</script>